includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION_ID

    ignoreErrors:
        # eZ Platform

        - "#Casting to int something that's already int.#"
